WEB3_PROVIDER_URL=
FROM_ADDRESS=
PRIVATE_KEY=
CHAIN_ID=
GAS_LIMIT=2000000
GAS_PRICE_GWEI=5000
MIN_TRANSFER_AMOUNT=3
MAX_TRANSFER_AMOUNT=20
MIN_SLEEP_TIME=300
MAX_SLEEP_TIME=600
MIN_LONG_SLEEP_TIME=3600
MAX_LONG_SLEEP_TIME=7200
